Comprehensive list:

In [3]:
#1.Write a list comprehension to generate squares of numbers from 1 to 10

sqr=[(x,x*2) for x in range(1,10)]
sqr

[(1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12), (7, 14), (8, 16), (9, 18)]

In [5]:
#2. Create a list of even numbers between 1 and 50 using list comprehension.
even_number=[ x for x in range(1,50) if x%2==0]
even_number

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [ ]:
#3. Convert all strings in a list to uppercase using list comprehension
a=["python","sql","database"]
uppercase_list=[x.upper() for x in a ]
uppercase_list

['PYHTON', 'SQL', 'DATABASE']

In [8]:
#4. Given a list of integers, create a new list that contains only the positive numbers.

numbers=[1,0,-9,8,7,6,-4,-5]
positive_numbers=[x for x in numbers if x>0]
positive_numbers

[1, 8, 7, 6]

In [10]:
#5. Create a list of tuples (num, num^2) for numbers 1 to 5.

updated_list=[(num,num^2) for num in range(1,5)]
updated_list

[(1, 3), (2, 0), (3, 1), (4, 6)]

In [16]:
#6. Extract all vowels from a given string using list comprehension
str="Database"
vowels=[x for x  in str if x in "aeiou"]
vowels

['a', 'a', 'a', 'e']

In [17]:
#7. Flatten a 2D list using list comprehension

arr = [[1, 2, 3],
          [4, 5, 6]]

flattened = [num for x in arr for num in x]
print(flattened)

[1, 2, 3, 4, 5, 6]

In [21]:
#8. Replace all negative numbers in a list with 0 using list comprehension.
numbers=[1,0,-9,8,7,6,-4,-5]
updated_list=[0 if x<0  else x for x in numbers]
updated_list

[1, 0, 0, 8, 7, 6, 0, 0]

In [22]:
#9. Given a list of words, create a list of lengths of each word.
a=["python","sql","database"]
length_list=[len(x) for x in a]
length_list

[6, 3, 8]

In [24]:

#10. Filter out words that start with the letter 'A' or 'a'.

l1=['abcd','Ankita','sejal']
updated_list=[x for x in l1 if x[0]=='a' or x[0]=='A']
updated_list

['abcd', 'Ankita']

In [25]:
#11. From a list of numbers, generate a list of “even” or “odd” strings using list comprehension

numbers=[1,2,3,4,5,6,7,8]
even_odd=["even"if x%2==0 else "odd" for x in numbers ]
even_odd

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [26]:
#12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

div_numbers=[x for x in range(1,100) if x%3==0 and x%5==0]
div_numbers

[15, 30, 45, 60, 75, 90]

In [30]:
#13. Write a nested list comprehension to generate a multiplication table for 1–5
mul_table=[(x*i)for x in range(1,6)  for i in range(1,6)]
mul_table

[1,
 2,
 3,
 4,
 5,
 2,
 4,
 6,
 8,
 10,
 3,
 6,
 9,
 12,
 15,
 4,
 8,
 12,
 16,
 20,
 5,
 10,
 15,
 20,
 25]

In [33]:
#14. Convert a dictionary’s keys into a list using list comprehension.
dict1={"roll":101,"name":"abc","std":"fy"}
fetching_keys=[x for x in dict1 if dict1.keys()]
fetching_keys

['roll', 'name', 'std']

In [34]:
#15. Extract numeric digits from a string using list comprehension.

str="abc123"
extract_digit=[x for x in str if x.isdigit()]
extract_digit

['1', '2', '3']

In [36]:
#16. Use list comprehension to remove all spaces from a string.
str="abc f i"
remove_space="".join([x for x in str if x != " "])
remove_space

'abcfi'

In [39]:
#17. Create a list of characters that appear more than once in a string
name="database"
repeated_characters= [ x for x in name if name.count(x)>1]
repeated_characters

['a', 'a', 'a']

In [ ]:
#18. From a list of sentences, generate a list of all words (split using list comprehension).

Lambda function

In [3]:
#1. Write a lambda to add two numbers

add=lambda a,b:a+b
print(add(9,2))

11

In [4]:
#2. Create a lambda to check if a number is even.

even_number=lambda a:a%2==0
even_number(4)

True

In [7]:
#3. Write a lambda to get the last character of a string.
last_char=lambda x:x[-1]
last_char("sejal")

'l'

In [8]:
#4. Use lambda with map() to square every number in a list.
nums = [1, 2, 3, 4, 5]

square = lambda x: x * x

result = list(map(square, nums))
result

[1, 4, 9, 16, 25]

In [9]:
#5. Use lambda with filter() to get only odd numbers from a list.
nums = [1, 2, 3, 4, 5]
odd_nums=lambda x: x%2==1
result=list(filter(odd_nums,nums))
result

[1, 3, 5]

In [ ]:
#6. Use sorted() + lambda to sort a list of tuples by second value
nums = [(1, 5), (2, 3), (4, 1)]

result=sorted(nums,key=lambda x:x[1])
result

[(4, 1), (2, 3), (1, 5)]

In [23]:
#7. Create a lambda to check if a string is a palindrome
is_palindrome = lambda x: x == x[::-1]

is_palindrome("madam")

True

In [25]:
#8. Use lambda to find maximum of three numbers.
max_three = lambda a, b, c: max(a, b, c)

max_three(100, 5, 10)

100

In [27]:
#9. Write a lambda to reverse a string.
str1="abcd"
rev_str=lambda x:x[::-1]
rev_str(str1)

'dcba'

In [ ]:
#10. Use lambda with map() to convert a list of strings to integers
str_list = ["10", "20", "30", "40"]

result = list(map(lambda x: int(x), str_list))

result

[10, 20, 30, 40]

In [ ]:
#11. Use lambda with filter() to remove empty strings from a list.

In [ ]:
#12. Use lambda to compute factorial using reduce() (yeah, that one-liner madness)

In [29]:
#13. Write a lambda that returns the larger of two numbers.
larger = lambda a, b: a if a > b else b

print(larger(10, 25))

25

In [17]:
#14. Use lambda to check if number is divisible by 5
check_num=lambda x:x%5==0
check_num(10)

True

In [30]:
#15. Use lambda + map() to add 10 to each element of a list.
nums = [1, 2, 3, 4, 5]

result = list(map(lambda x: x + 10, nums))

result

[11, 12, 13, 14, 15]

In [ ]:
#16. Use lambda to sort a list of dictionaries by a key (like "age")

In [ ]:
#17. Write a lambda that returns True if a character is a vowel.
vowel = lambda x: x.lower() in "aeiou"

vowel("a")

In [32]:
#18. Use lambda + filter to extract words of length > 5 from a list.

words = ["apple", "banana", "mango"]

new_list = list(filter(lambda x: len(x) > 5, words))
new_list

['banana']

In [33]:
#19. Use lambda to calculate the area of a circle (πr²).
area_circle=lambda x: 3.14*x*x
area_circle(5)

78.5

In [ ]:
# 20. Write a lambda to remove duplicates from a list using filter + set.

In [ ]:
#21. Use lambda with reduce() to find the product of all numbers in a list.

In [ ]:
#22. Write a lambda that returns absolute value of a number

In [34]:
#23. Use lambda to sort a list of strings by their length.

words = ["python","DB","SQL"]

sorted_words = sorted(words, key=lambda x: len(x))
sorted_words

['DB', 'SQL', 'python']

In [ ]:
#24. Use lambda to get only uppercase characters from a string.
str1="Sejal"
new_str=lambda x:x.upper()
new_str(str1)

'SEJAL'

In [ ]:
#25. Write a lambda that returns the square if number is even, cube if odd.

In [ ]:
#26. Use lambda with map to convert Celsius to Fahrenheit.

In [ ]:
#27. Write a lambda to check if two strings are anagrams

In [22]:
#28. Use lambda to extract only numeric values from a mixed list.
l1=["a",10,20,"c","d"]
num_list=lambda x:type(x)==int
new_list=list(filter(num_list,l1))
new_list

[10, 20]

In [ ]:
#29. Use lambda inside any() to check if any list element is negative

In [ ]:
#30. Use lambda to generate a function that multiplies any number by n