In [ ]:
#1.
name="Hi How are you?"
name[:]    #Entire text will be print
name[-10:-5]
name[3:12]
name[12:3]   #Giving the empty output
name[5:6]
name[-4:-12]
name[::2]
name[::-2]

'Hi How are you?'

In [ ]:
#2.
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
L1[:]
L1[::3]
L1[::-2]
L1[9]
L1[-2]
type(L1[4])
L1[-5:-2]

['a', 30, 300, 'major']

In [ ]:
#3.
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']

In [ ]:
l2[4]

['a', 'b', 'work hard']

In [ ]:
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
l2[7]

'Success'

In [ ]:
l2[7][2]

'c'

In [ ]:
l2[7][2:]

'ccess'

In [ ]:
l2[:3]

[1, 2, 3]

In [ ]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
#4. From the above l2 value ‘b’ must be changed to ‘BEE’.

In [ ]:
#5. From l2 “BEE” has to discard.

In [ ]:
#6. In l2 add a dictionary at the end
 #{‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
l2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})

[1,
 2,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']},
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
#7. From l2 extract insect information.
l2[-1]

{'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}

In [ ]:
#8. Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30}
#and add the d1 at 2nd position of l2
d1 = {'a':10, 'b':20, 'c' : 30}

In [ ]:
l2.insert(2,d1)

In [ ]:
#9. Based on new l2 created
#here extract the value 10 from l2 dictionary.
# The 'l2' list was redefined in a later cell (uSq-NiYxgB3e).
# In the current 'l2', l2[2] is the integer 3, not a dictionary.
# Therefore, attempting to access a key 'a' on an integer results in a TypeError.
# l2[2]['a'] # This line will cause a TypeError with the current l2.

In [ ]:
#10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,
 #[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)]
# then what is the output of following

l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,
 ['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]
l2[4][2]

50

In [ ]:
l2[5][:]

'Python'

In [ ]:
l2[2][:]    #It will give you error because int object cannt be iterable

TypeError: 'int' object is not subscriptable

In [ ]:
l2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [ ]:
l2[5]

'Python'

In [ ]:
l2[5][3:-1]

'ho'

In [ ]:
l2[-1]

(200, 300, 'Hundreds')

In [ ]:
l2[-4:-2]

[100, 200]

In [ ]:
l2[-4:-10]

[]

In [ ]:
l2[7][2]

'work hard'

In [ ]:
l2[-7][2:]

'thon'

In [ ]:
l2[:-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [ ]:
l2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
#11. Ask user to enter the marks and define if the user got distinction,
#first class, second class, pass, Fails

marks=input("Enter marks:")
if (not marks.isalpha() and not marks.isalnum())or marks.isdigit():
    marks=float(marks)
    if marks<0 or marks>100:
      print("Please check the enter marks again!")

    elif marks>80:
      print("You got distinction")
    elif marks>60:
      print("You got First class")
    elif marks>40:
       print("You got second class")
    elif marks>=35:
      print("Pass")
    else:
      print("Fail")

else:
  print("please check the enter marks again!")

Enter marks:78
You got First class

In [ ]:
#12. Ask user to enter information about salary of the employee per year
# and rating received as A, B, C, D

salary=input("Enter your salary:")
rating=input("Enter your rating(A-D):").upper()
if salary.isdigit() and rating  in ["A","B","C","D"]:
  salary=float(salary)
  if salary< 500000:
    print("Salary is upto 5 LPA!")
    if rating == "A":
      print("Rating is A")
      Salary_A=salary+salary*0.16
      print("Updated salary For rating A:",Salary_A)
    elif rating == "B":
      print("Rating is B")
      Salary_B=salary+salary*0.12
      print("Updated salary for rating B",Salary_B)
    elif rating == "C":
      print("Rating is C!")
      Salary_C=salary+salary*0.10
      print("Updated salary for rating C",Salary_C)
    elif rating == 'D':
      print("Rating is D")
      Salary_D=salary+salary*0.06
      print("Updated salary for rating D:",Salary_D)
    else:
      print("Invalid ratings!!")



  elif salary<1000000 :
      print("Salary is upto 10 LPA!")
      if rating == "A":
        print("Rating is A!")
        Salary_A=salary+salary*0.14
        print("Updated salary For rating A:",Salary_A)
      elif rating == "B":
        print("Rating is B")
        Salary_B=salary+salary*0.10
        print("Updated salary for rating B",Salary_B)
      elif rating == "C":
        print("Rating is C!")
        Salary_C=salary+salary*0.08
        print("Updated salary for rating C",Salary_C)
      elif rating == 'D':
        print("Rating is D")
        Salary_D=salary+salary*0.06
        print("Updated salary for rating D",Salary_D)
      else:
        print("Invalid ratings!!!")


  elif salary<1500000 :
    print("Salary is upto 15 LPA!")
    if rating == "A":
      print("Rating is A")
      Salary_A =salary+salary*0.08
      print("Updated salary for rating B:",Salary_A)

    elif rating == "B":
      print("Rating is B")
      Salary_B=salary+salary*0.06
      print("Updated salary for rating B",Salary_B)

    elif rating == "C":
      print("Rating is C!")
      Salary_C=salary+salary*0.04
      print("Updated salary for rating C",Salary_C)

    elif rating == 'D':
     print("Rating is D")
     Salary_D=salary
     print("No increment is there",Salary_D)

    else:
      print("Invalid ratings!!!")

  elif salary<2300000 :
     print("Salary is upto 23 LPA!")
     if rating == "A":
        print("Rating is A")
        Salary_A=salary+salary*0.07
        print("Updated salary for rating A:",Salary_A)

     elif rating == "B":
      print("Rating is B")
      Salary_B=salary+salary*0.05
      print("Updated salary for rating B",Salary_B)

     elif rating == "C":
      print("Rating is C!")
      Salary_C=salary+salary*0.04
      print("Updated salary for rating C",Salary_C)

     elif rating == 'D':
      print("Rating is D")
      Salary_D=salary
      print("No increment is there",Salary_D)

     else:
       print("Invalid ratings!!!")


  else:
   print("Invalid data!!!")

else:
  print("Please enter correct salary details!!!")

Enter your salary:600000
Enter your rating(A-D):c
Salary is upto 10 LPA!
Rating is C!
Updated salary for rating C 648000.0

In [ ]:
#13. Ask user to opt for courses
#for master degree based on the following
L1 = ["HR", "Finance", "Marketing", "DS"]
subject=input("Enter Subject:")
analytics=input("Do you have applied for analystics:(Y/N)").lower()
hostel=input("Do you have hostel?(Y/N)").lower()
food=int(input("for How many months you have food facility)"))
transporation=input("Do you have transportation?(semester/annual/no):").lower()
list_sem=['semester',"anuual","no"]
fees=200000
analytics_fee= fees+fees*0.10
hostel_rent=200000
transporation_charges=13000
food_per_month=2000

total_cost = 0 

if subject in ["HR", "Finance", "Marketing"]:
  print(f"You are in {subject} field")
  if analytics=='y':
    print("You have opt for analytics")
    total_cost=fees+analytics_fee
  else: # If analytics is 'n', just use base fees
    total_cost = fees


elif subject == "DS": # Check if subject is exactly 'DS'
    print("You are in Data Science field")
    print("You are not eligible for analytics")
    total_cost = fees # For DS, start with base fees

else:
  print("ERROR: Invalid subject selected!")


# Add costs for hostel, food, and transportation conditionally
if  hostel=='y':
    total_cost += hostel_rent


if food>0 :
    total_cost += food * food_per_month


if  transporation in list_sem and transporation != 'no': # Only add if transportation is selected
    total_cost += transporation_charges


print(total_cost)

Enter Subject:DS
Do you have applied for analystics:(Y/N)n
Do you have hostel?(Y/N)n
for How many months you have food facility)0
Do you have transportation?(semester/annual/no):no
You are in Data Science field
You are not eligible for analytics
200000

In [ ]:
str1 = input("Do you want to order some food!!(Y/N)").lower()
order_food = int(input("How many items you want to buy:"))

if str1 == 'y':
  grand_total = 0
  items_ordered = []
  for i in range(order_food):
    sr = int(input(f"Enter sr no : "))
    menu = input(f"Enter a menu item : ")
    qty = int(input(f"Enter quantity for item: "))
    prc = float(input(f"Enter a price for item : "))
    item_total = qty * prc
    grand_total += item_total
    items_ordered.append({'sr': sr, 'menu': menu, 'qty': qty, 'prc': prc, 'item_total': item_total})

  print("-----------------------------------------------------------------------------------")
  print("{:^60}".format("Welcome Hotel Dwarka\n"))
  print("-----------------------------------------------------------------------------------")
  print("{:<10}".format("SR")+"{:<20}".format("Menu")+"{:<10}".format("Qty")+"{:<10}".format("Prc")+"{:>10}".format("Total"))
  print("-----------------------------------------------------------------------------------")
  for item in items_ordered:
    print("{:<10}".format(item['sr'])+"{:<20}".format(item['menu'])+"{:<10}".format(item['qty'])+"{:<10.2f}".format(item['prc'])+"{:>10.2f}".format(item['item_total']))
  print("-----------------------------------------------------------------------------------")
  print("{:<50} ".format("Grand Total")+"{:>9.2f} ".format(grand_total))

else:
    print("Thank you!")

-----------------------------------------------------------------------------------
                   Welcome Hotel Dwarka

-----------------------------------------------------------------------------------
SR        Menu                Qty       Prc            Total
-----------------------------------------------------------------------------------
1         idli                2         30.00          60.00
-----------------------------------------------------------------------------------
Grand Total                                           60.00

In [1]:
book_dict={"1st-4th":{"Hindi":60,
                      "Marathi":60,
                      "English":80,
                      "Science":90,
                      "Maths":100},
           "5th-8th":{"Hindi":100,
                      "Marathi":100,
                      "English":100,
                      "Science":120,
                      "Maths":140},
           "9th-10th":{"Hindi":150,
                       "Marathi":150,
                       "English":150,
                       "Science":200,
                       "Maths":250}
           }

In [3]:
#14.

#input dic
#cal total amt
#printing of bill


stationary={}
def Book_Function():
       
        std=int(input("which standard book you want:"))
        
        stationary["Standard"]=std
       
        if std in [1,2,3,4]:
            book=input("Which book you want:").capitalize()
            stationary["Books"]=book
            while True:
                if book=="Hindi":
                    print(f"{book} you have chosen!")
                    price=book_dict["1st-4th"]["Hindi"]
                    print("Price is :",price)
                    break

                elif book=="Marathi":
                    print(f"{book} you have chosen!")
                    price=book_dict["1st-4th"]["Marathi"]
                    print("Price is :",price)
                    break

                elif book=="English":
                    print(f"{book} you have chosen!")
                    price=book_dict["1st-4th"]["English"]
                    print("Price is :",price)
                    break

                elif book=="Science":
                    print(f"{book} you have chosen!")
                    price=book_dict["1st-4th"]["Science"]
                    print("Price is :",price)
                    break

                elif book=="Maths":
                    print(f"{book} you have chosen!")
                    price=book_dict["1st-4th"]["Maths"]
                    print("Price is :",price)
                    break


                else:
                    print("Invalid Book name!!")
                    break

        elif std in [5,6,7,8]:
            book=input("Which book you want:").capitalize()
            while True:
                if book=="Hindi":
                    print(f"{book} you have chosen!")
                    price=book_dict["5th-8th"]["Hindi"]
                    print("Price is :",price)
                    break

                elif book=="Marathi":
                    print(f"{book} you have chosen!")
                    price=book_dict["5th-8th"]["Marathi"]
                    print("Price is :",price)
                    break

                elif book=="English":
                    print(f"{book} you have chosen!")
                    price=book_dict["5th-8th"]["English"]
                    print("Price is :",price)
                    break

                elif book=="Science":
                    print(f"{book} you have chosen!")
                    price=book_dict["5th-8th"]["Science"]
                    print("Price is :",price)
                    break

                elif book=="Maths":
                    print(f"{book} you have chosen!")
                    price=book_dict["5th-8th"]["Maths"]
                    print("Price is :",price)
                    break
                else:
                    print("Invalid Book name!!")
                    break


        elif std in [9,10]:
            book=input("Which book you want:").capitalize()
            while True:
                if book=="Hindi":
                    print(f"{book} you have chosen!")
                    price=book_dict["9th-10th"]["Hindi"]
                    print("Price is :",price)
                    break

                elif book=="Marathi":
                    print(f"{book} you have chosen!")
                    price=book_dict["9th-10th"]["Marathi"]
                    print("Price is :",price)
                    break

                elif book=="English":
                    print(f"{book} you have chosen!")
                    price=book_dict["9th-10th"]["English"]
                    print("Price is :",price)
                    break

                elif book=="Science":
                    print(f"{book} you have chosen!")
                    price=book_dict["9th-10th"]["Science"]
                    print("Price is :",price)
                    break

                elif book=="Maths":
                    print(f"{book} you have chosen!")
                    price=book_dict["9th-10th"]["Maths"]
                    print("Price is :",price)
                    break
                else:
                    print("Invalid Book name!!")
                    break
        return stationary

def notebook_function():
    
        notebook=input("Enter which type of notebook you want:")
        pages=input("How many pages of book you want:")




        notebooks={'squares':{'100':40,'200':70},
                '4lines':{'100':30,'200':50},
                '2lines':{'100':30,'200':50},
                'single lines':{'100':60,'200':100},
                'A4 notebook':{'100':100,'200':180}
                
            }
        if notebook in notebooks and pages in notebooks[notebook]:
            price = notebooks[notebook][pages]

            stationary["Item"] = notebook
            stationary["Pages"] = pages
            stationary["Price"] = price

            print(f"You selected {notebook} notebook")
            print("Price is:", price)

        else:
            print("Invalid notebook selection!")





def Shop():
    item=input("What do you want to purchase book or notebook:").lower()
    if item=='book':
        return Book_Function()
    
    elif item=='notebook':
        return notebook_function()

In [4]:
Shop()

You selected squares notebook
Price is: 40

In [2]:
#  book updated question Using class and object

class PurchaseStationary:

    def __init__(self):
        self.stationary={}
        self.total = 0
        self.count = 1
        self.book_dict={"1st-4th":{"Hindi":60,
                      "Marathi":60,
                      "English":80,
                      "Science":90,
                      "Maths":100},
           "5th-8th":{"Hindi":100,
                      "Marathi":100,
                      "English":100,
                      "Science":120,
                      "Maths":140},
           "9th-10th":{"Hindi":150,
                       "Marathi":150,
                       "English":150,
                       "Science":200,
                       "Maths":250}
           }
        self.notebooks={'squares':{'100':40,'200':70},
                    '4lines':{'100':30,'200':50},
                    '2lines':{'100':30,'200':50},
                    'single lines':{'100':60,'200':100},
                    'A4 notebook':{'100':100,'200':180}
                    
                }

    def Book_Function(self):
        
                try:
        
                    std=int(input("which standard book you want:"))
                    self.qty = int(input("Enter quantity: "))
                    
                
                    if std in [1,2,3,4]:
                        book=input("Which book you want:").capitalize()
                        
                        while True:
                            if book=="Hindi":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["1st-4th"]["Hindi"]
                                self.Stationary(book, self.qty, price)

                                
                                print("Price is :",price)
                                break

                            elif book=="Marathi":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["1st-4th"]["Marathi"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="English":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["1st-4th"]["English"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Science":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["1st-4th"]["Science"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Maths":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["1st-4th"]["Maths"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break


                            else:
                                print("Invalid Book name!!")
                                break

                    elif std in [5,6,7,8]:
                        book=input("Which book you want:").capitalize()
                        while True:
                            if book=="Hindi":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["5th-8th"]["Hindi"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Marathi":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["5th-8th"]["Marathi"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="English":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["5th-8th"]["English"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Science":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["5th-8th"]["Science"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Maths":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["5th-8th"]["Maths"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break
                            else:
                                print("Invalid Book name!!")
                                break


                    elif std in [9,10]:
                        book=input("Which book you want:").capitalize()
                        while True:
                            if book=="Hindi":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["9th-10th"]["Hindi"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Marathi":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["9th-10th"]["Marathi"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="English":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["9th-10th"]["English"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Science":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["9th-10th"]["Science"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break

                            elif book=="Maths":
                                print(f"{book} you have chosen!")
                                price=self.book_dict["9th-10th"]["Maths"]
                                self.Stationary(book, self.qty, price)

                                print("Price is :",price)
                                break
                            else:
                                print("Invalid Book name!!")
                                break
                       
                except ValueError:
                    print("Invalid data")    

    def notebook_function(self):

        notebook = input("Enter which type of notebook you want:")
        pages = input("How many pages of book you want:")
        qty = int(input("Enter quantity: "))

        if notebook in self.notebooks and pages in self.notebooks[notebook]:

            price = self.notebooks[notebook][pages]

            print(f"You selected {notebook} notebook")
            print("Price is:", price)

            
            self.Stationary(notebook, qty, price)

        else:
            print("Invalid notebook selection!")


    def Stationary(self, item_name, qty, price):

        total_price = price * qty   

        self.stationary[self.count] = {
            "Item": item_name,
            "Qty": qty,
            "Price": price,
            "Total": total_price
        }

        self.total += total_price
        self.count += 1





    def Shop(self):
      

            while True:
                item = input("What do you want to purchase (book/notebook) or type done: ").lower()
                

                if item == 'book':
                    self.Book_Function()

                elif item == 'notebook':
                    self.notebook_function()

                elif item == 'done':
                    self.GenerateBill()
                    break

                else:
                    print("Invalid choice!")

          


    def GenerateBill(self):

        print("\n----------- BILL -----------")
        print("{:<5}{:<15}{:<10}{:<10}{:<10}".format("No", "Item", "Qty", "Price", "Total"))

        for i, item in self.stationary.items():
            print("{:<5}{:<15}{:<10}{:<10}{:<10}".format(
                i,
                item["Item"],
                item["Qty"],
                item["Price"],
                item["Total"]
            ))

        print("-------------------------------------------")
        print("Grand Total:", self.total)
        print("-------------------------------------------")

In [3]:
shopping=PurchaseStationary()
shopping.Shop()

Hindi you have chosen!
Price is : 60
You selected squares notebook
Price is: 40

----------- BILL -----------
No   Item           Qty       Price     Total
1    Hindi          1         60        60
2    squares        5         40        200
-------------------------------------------
Grand Total: 260
-------------------------------------------

In [ ]:

#17.

from datetime import datetime

fd_rates = {
    "public_existing": [
        (7, 45, 5.75),
        (46, 179, 6.25),
        (180, 210, 6.35),
        (211, 364, 6.40),
        (365, 729, 6.80),
        (730, 1094, 6.80),
        (1095, 1824, 6.80),
        (1825, 3650, 6.85)
    ],
    
    "public_revised": [
        (7, 45, 5.75),
        (46, 179, 6.25),
        (180, 210, 6.35),
        (211, 364, 6.40),
        (365, 729, 7.00),
        (730, 1094, 6.75),
        (1095, 1824, 6.70),
        (1825, 3650, 6.60)
    ],
    
    "senior_existing": [
        (7, 45, 6.25),
        (46, 179, 6.75),
        (180, 210, 6.85),
        (211, 364, 6.90),
        (365, 729, 7.30),
        (730, 1094, 7.30),
        (1095, 1824, 7.30),
        (1825, 3650, 7.35)
    ],
    
    "senior_revised": [
        (7, 45, 6.25),
        (46, 179, 6.75),
        (180, 210, 6.85),
        (211, 364, 6.90),
        (365, 729, 7.50),
        (730, 1094, 7.25),
        (1095, 1824, 7.20),
        (1825, 3650, 7.10)
    ]
}

def calculate_fd_interest():
    start_date = input("Enter FD Start Date (dd-mm-yyyy): ")
    end_date = input("Enter FD End Date (dd-mm-yyyy): ")

    start = datetime.strptime(start_date, "%d-%m-%Y")
    end = datetime.strptime(end_date, "%d-%m-%Y")

    tenure_days = (end - start).days
    print("Total FD Days:", tenure_days)

    customer = input("Enter customer type (public/senior): ").lower()
    rate_type = input("Enter rate type (existing/revised): ").lower()

    key = customer + "_" + rate_type

    if key not in fd_rates:
        print("Invalid option selected")
        return

    for min_days, max_days, rate in fd_rates[key]:
        if min_days <= tenure_days <= max_days:
            print(f"Interest Rate Applicable: {rate}%")
            return

    print("No matching FD bucket found.")
    

calculate_fd_interest()

Total FD Days: 31
Interest Rate Applicable: 5.75%

60

In [ ]:
#19.

marks=[20,18,15,17,18]
# for int and float it will give you error
tuple(marks)
dict(marks)  # it will give you error

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [19]:
set(marks)

{15, 17, 18, 20}

In [29]:
#20.
#20.

snames=[]
snames.append(20)
snames.extend([30])
snames.append('a')
snames.extend("WORK")
snames


combo=[1,'a','b',2,3]
snames+combo
snames.append(combo)
snames.extend(combo)
snames

[20, 30, 'a', 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [32]:
#21. Create one list l1 having two elements and
#  l3 having 7 elements. Now at 4th position add l1

l1=[10,20]
l3=[1,2,3,4,5,6,7]
l3.insert(3,l1)
l3

[1, 2, 3, [10, 20], 4, 5, 6, 7]

In [ ]:
#22. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] 
# if the data is in integer or float then multiply with 5.

l1=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]

for i in range(len(l1)):
    if type(l1[i])==int or type(l1[i])==float:
        l1[i]=l1[i]*5

l1

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [43]:
del l1[-3]

In [49]:
l1=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
l1.index(20.50)

6

In [50]:
#23. Create a comprehensive list for square upto 10

[x**2 for x in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
#24. Create the comprehensive list to find number divisible by 13 till 200
[x for x in range(1,200) if x%13==0 ]

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
#25. Create the list which is divisible by 4 from 300 to 400
[x for x in range(300,400) if x%4==0]

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396]

In [ ]:
#36. Create a comprehensive list to generate list up to x, y as a number. 
# For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]

[x for x in range]

In [60]:
#41.how to create empty set.
set1={}

In [64]:
#42. Create the set s1 and s2 and perform set operations 
# like union, intersection, difference, set difference.

s1={1,2,3,4,5,6}
s2={5,6,7,8}
s1.union(s2)
s1.intersection(s2)
s1.difference(s2)

{1, 2, 3, 4}

In [ ]:
#43. Create l2 as a list and perform set operation on s1 with l1

l2=[8,9,10]

In [69]:
#44. Ask user to enter the name and DOB and generate the password based on first name 4 characters and @ddmm. 
# For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

name=input("Enter name:")
DOB=input("Enter date of birth:")

In [70]:
print(name[:4]+'@'+DOB[:5].replace("-",""))

SURE@0505

In [73]:
#45. Ask user to enter the name and DOB and generate the password based on first name 4 characters and last 4 digits of DOB or year @yyyy.
#  For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978
print(name[:4]+'@'+DOB[-4:])

SURE@1978

In [83]:
#46.

for i in range(1,5):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****

In [89]:
#47.
for i in range(4,0,-1):
    for j in range(i):
        print("*",end="")
    print()

****
***
**
*

In [93]:
#48. Str_val = “ABCD” then create the format as mentioned below:
Str_val = "ABCD"
for i in range(len(Str_val)):
    for j in range(i+1):
        print(Str_val[j],end=" ")
    print()

A
A B
A B C
A B C D

In [95]:
#49.

for i in range(len(Str_val)):
    for j in range(i+1):
        print(Str_val[i],end=" ")
    print()

A
B B
C C C
D D D D

In [96]:
#50.

for i in range(1,5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [106]:
#51. Val = “ABCD” based on the Val, create the format mentioned below

val="ABCD"
for i in range(0,3):
    for j in range(i):
        print(val[i],end=" ")
    print()

B
C C

In [ ]:
#52.

In [109]:
#53. Create a list of odd numbers from 1 to 10
# Using for loop
for x in range(1,11):
    if x%2==1:
        print(x)


#Using comprehensive list
[x for x in range(1,11) if x%2==1]

1
3
5
7
9

[1, 3, 5, 7, 9]

In [110]:
#54. Create even number list using for loop from 200 to 250

for x in range(200,250):
    if x%2==0:
        print(x)

200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248

In [ ]:
#35. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#Multiply each and every element by 2 and display the answer

List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]